<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Job info</title>
  </head>
  <body>
    <div class="container">
      <h1>@Model.GetTitle()</h1>
      <p>Description: @Model.GetDescription()</p>
      <p>Company: @Model.GetCompany()</p>
      <p>Start Date: @Model.GetStartDate()</p>
      <h4>Salary: @Model.GetSalary()</h4>

      <h2>Contact Info</h2>
      <p>Name: @Model.GetContact().GetName()</p>
      <p>Email: @Model.GetContact().GetEmail()<p>
      <p>Phone: @Model.GetContact().GetPhone()</p>

      <a href="/">Return</a>
    </div>
  </body>
</html>
